
{%- if course and course != empty -%}
  {%- liquid
    assign course_title = course.title
    assign course_description = course.small_description

    
    assign slug = course.title | handleize 
    assign course_url = '/pages/forlob/' | append: slug
    # Set default values
    if show_image == blank
      assign show_image = true
    endif
    
    if show_excerpt == blank
      assign show_excerpt = true
    endif
    
    # Set color scheme class
    if color_scheme != blank
      assign color_scheme_class = 'color-' | append: color_scheme
    else
      assign color_scheme_class = 'color-background-1'
    endif
  -%}

  <div class="{{ color_scheme_class }} gradient">

  
    <article class="course-card">
      {%- if show_image and course.primary_image.value -%}
        <div class="course-card__image-wrapper">
          <img 
            src="{{ course.primary_image.value | image_url: width: 400 }}" 
            alt="{{ course_title | escape }}"
            width="400" 
            height="300"
            {%- if lazy_load == false -%}
              loading="eager"
            {%- else -%}
              loading="lazy"
            {%- endif -%}
          >
        </div>
      {%- endif -%}
      
      <div class="course-card__content">
        <h3 class="course-card__title">
          <a href="{{ course_url }}">
            {{ course_title | escape }}
          </a>
        </h3>
        
        {%- if show_excerpt and course_description -%}
          <p class="course-card__excerpt">
            {{ course_description | strip_html | truncatewords: 25 }}
          </p>
        {%- endif -%}
        
        <a href="{{ course_url }}" style="max-width: fit-content; white-space: nowrap;" class="course-card__button button ">
          Læs mere
          <span class="button-arrow">{% render 'icon-button-arrow' %}</span>
        </a>
      </div>
    </article>
  </div>
{%- endif -%}

{{ 'component-course-card.css' | asset_url | stylesheet_tag }} 