{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-courses-list.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign courses = shop.metaobjects["forlob"].values
-%}

<div class="courses-list color-{{ section.settings.color_scheme }} gradient{% if section.settings.heading == blank %} no-heading{% endif %}">
  <div class="page-width section-{{ section.id }}-padding">
    {%- unless section.settings.heading == blank -%}
      <div class="title-wrapper title-wrapper--no-top-margin">
        <h1 class="courses-list__title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.heading }}
        </h1>
      </div>
    {%- endunless -%}

    {%- if courses.size > 0 -%}
      <ul class="courses-list__grid grid grid--{{ section.settings.columns_tablet }}-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop" role="list">
        {%- for course in courses -%}
          <li class="courses-list__item grid__item">
            {% render 'course-card',
              course: course,
              media_aspect_ratio: 1.66,
              show_image: section.settings.show_image,
              show_excerpt: true
            %}
          </li>
        {%- endfor -%}
      </ul>
    {%- else -%}
      <div class="courses-list__empty">
        <h2 class="h2">{{ 'sections.courses_list.no_courses' | t | default: 'No courses found' }}</h2>
        <p>{{ 'sections.courses_list.no_courses_message' | t | default: 'There are currently no courses available. Please check back later.' }}</p>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Courses List",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "All Courses",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        },
        {
          "value": "hxl",
          "label": "Extra large"
        },
        {
          "value": "hxxl",
          "label": "XX Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "Show featured image"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "Number of columns on desktop"
    },
    {
      "type": "range",
      "id": "columns_tablet",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "Number of columns on tablet"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ]
} 
{% endschema %}